.top-navbar{
    background-color: #3bc1db !important;
    height: 70px;

    .navbar-brand{
        color: white;
        font-weight: bold;

    }

    .navbar-brand:visited{
        color: white;
    }

    .navbar-nav{
        .nav-item{
            .nav-link{
                background-color: #3bc1db !important;
                color: white;
            }
        }
    }

}